.headerComponent {
    height: 5%;
    padding: 5px;
    border-radius: 1px;
    border-color: black;
    background-color: #008cba;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  
  .headerComponent button {
    color: aliceblue;
  }
  
  .headerComponent a {
    color: aliceblue;
    background-color: #25acd9;
    border-radius: 5px;
  }