.headerComponent {
    height: 5%;
    padding: 5px;
    border-radius: 1px;
    border-color: black;
    background-color: #008cba;
    color: aliceblue;
  }
  
  .headerComponent button {
    color: aliceblue;
  }
  
  .headerComponent a {
    color: aliceblue;
  }