<div class="container">
    <h2 class="app-title">Welcome to My ToDo App</h2>
    <p class="app-description">
        This is a CRUD application built with Angular. <br>
        As required in this application you are going to find two routing functional pages.
    </p>
    <ul>
        <li>Emplementing JWT as authentication for API calls.</li>
        <li>Guards to access the different views requiring to validate the JWT against the API.</li>
        <li>Reactive form validation for the form fields.</li>
    </ul>
    <p class="app-description">These pages are:</p>
    <ul class="app-links">
        <li><a routerLink="/actions" class="app-link" mat-button>CRUD ACTIONS</a></li>
        <li><a routerLink="/item-list" class="app-link" mat-button>GRID VIEW</a></li>
    </ul>

    <p style="font-size: 1rem;"><b> can also access these pages via the top menu</b></p>
</div>
<router-outlet></router-outlet>