<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>ToDo</h2>
    </div>
    <div class="card-content">
      <form [formGroup]="ToDoForm" class="form-div">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            [formControlName]="'title'"
            class="form-control"
            required
          />
          <span class="error" *ngIf="ToDoForm.controls['title'].status === 'INVALID'">
            The title is required
          </span>
        </div>

        <div class="form-group">
          <label for="isDone">
            <input type="checkbox" id="isDone" [formControlName]="'isDone'" />
            Is Done
          </label>
        </div>

        <button type="button" (click)="isEditMode ? updateToDo() : addToDo()">
          {{isEditMode ? 'Update' : 'Add'}}
        </button>
      </form>
    </div>
  </div>
</div>
